
.box{
    text-align: center;
    background-color: #ff004f;
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    
}
/*-------css for small screen----*/
.box{
    display: none;
}
@media (max-width: 400px){
    #box1{
        display:block;
    }
}
@media (min-width: 401px) and (max-width: 600px){
    #box2{
        display:block;
        background-color: #032303;
    }
}
@media (min-width: 650px) and (max-width: 1100px){
    #box3{
        display:block;
        background-color: #262626;
    }
}
@media (min-width: 1101px) and (max-width: 1300px){
    #box4{
        display:block;
        background-color: #eee;
    }
}
